.menu-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    width: 100%;
    background-color: #ffffff;

    h1 {
        font-size: max(1.6vw, 24px);
    }
}

.menu-category-list {
    position: sticky;
    top: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-x: scroll;
}

.menu-category-list::-webkit-scrollbar {
    width: 2px;
    scrollbar-width:thin;
    
}

.menu-category-list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #eee;
}

.menu-category-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #aaa;
}


.menu-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 18px;
    gap: 18px;
    cursor: pointer;

    img {
        width: 7.2vw;
        height: 7.2vw;
        min-width: 80px;
        min-height: 80px;
        border-radius: 50%;
        object-fit: cover;
        transition: border 0.25s;
    }

    .active {
        padding: 4px;
        border: 4px solid #133E87;
    }

    p {
        font-size: max(1.2vw, 16px);
    }
}