

.payment-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  font-size: 12px !important;
}

#payment-status {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 12px;
  width: 50vw;
  height: 100%;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 24px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  margin: auto;
}

#status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

#details-table {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

/* .StripeCheckout h2 {
  margin: 0;
  color: var(--color-primary, #30313d);
  text-align: center;
}

.StripeCheckout a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, sans-serif;
  display: block;
}

.StripeCheckout a:hover {
  filter: contrast(120%);
}



.StripeCheckout table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.StripeCheckout table tbody tr:first-child td {
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}

.StripeCheckout table tbody tr:last-child td {
  border-bottom: 1px solid #e6e6e6;
}

.StripeCheckout td {
  padding-bottom: 10px;
} */

/* .TableContent {
  text-align: right;
  color: var(--color-secondary, #6d6e78);
}

.TableLabel {
  font-weight: 600;
  color: var(--color-primary, #30313d);
} */

#view-details {
  color: var(--link-color, #0055de);
}

#retry-button {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  color: #ffffff;
  background: var(--color-theme-main);
  cursor: pointer;
  transition: all 0.2s ease;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  #payment-status {
    width: 100vw;
    padding: 20px;
  }
  .payment-status-container {
    margin: 8px;
  }
}

@media (max-width: 768px) {
  #payment-status {
    font-size: 12px;
  }
}