.order-summary-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22vw;
  gap: 16px;
  padding: 16px;
  top: calc(66px + 16px);
  border-radius: 4px;
  border: 2px solid var(--color-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

  header {
    h1 {
      font-size: max(1.5vw, 24px);
    }
  }
}

.order-summary-promotion-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.promotion {
  display: flex;
  gap: 8px;
  flex-direction: column;
  /* font-weight: bold; */
  font-size: max(1vw, 16px);
  /* color: #666; */

  .promotion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    input {
      padding: 12px;
      /* width: 80%; */
      width: 80%;
      height: 6vh;
      border-radius: 4px;
      border: 2px solid #ddd;
      /* font-weight: bold; */
      font-size: max(1vw, 14px);
    }

    input:active {
      border: px solid var(--color-theme-main);
    }

    button {
      width: 20%;
      height: 6vh;
      padding: 8px;
      font-weight: bold;
      font-size: max(1vw, 18px);
      border-radius: 12px;
      background:none;
      border: none;
      cursor: pointer;
      color: var(--color-theme-main);
      transition:  background-color 0.25s;
    }
    button:hover {
      background-color: #eee;
    }
  }
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 8px;
  

  .order-summary-content {
    /* font-weight: bold; */
    /* margin-bottom: 16px; */
    /* color: #666; */

    .order-summary-detail {
      div {
        display: flex;
        justify-content: space-between;
        font-size: max(1vw, 16px);
        padding: 6px 0;

      }
    }
  }

  .order-summary-total {
    display: flex;
    justify-content: space-between;
    color: var(--color-theme-main);
    /* margin-top: 16px; */

    h2{
      font-size: max(1vw, 20px);
    }
  }
}

.checkout-button {
  /* margin: 12px; */
  width: 100%;
  font-size: max(1vw, 20px);
  font-weight: bold;
  bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-theme-main);
  border: 3px solid var(--color-theme-main);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

.checkout-button.disabled, .checkout-button.disabled:hover {
  border: 3px solid var(--button-disable);
  background-color: var(--button-disable); /* สีเมื่อปุ่มถูกปิดใช้งาน */
  color: #a1a1a1;
  cursor: not-allowed;
  box-shadow:none;
}
/* 
.checkout-button:hover {
    background-color: #ffffff;
    border: 3px solid var(--color-theme-main);
    color: var(--color-theme-main);
} */

.order-summary-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1140px) {
  .order-summary-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    padding: 16px;
    top: calc(66px + 16px);
    border-radius: 12px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  
    header {
      h1 {
        font-size: max(1.5vw, 24px);
      }
    }

    hr {
      display: none;
    }
  }

  .order-summary-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}