.dot-loader, .dot-loader:before, .dot-loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .dot-loader {
    color: var(--color-theme-main);
    font-size: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .dot-loader:before,
  .dot-loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .dot-loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .dot-loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
      